<div class="content">
    <div fxLayout="column">
        <div>
            <mat-slide-toggle class="example-margin" (change)="toggleVerbal()" [checked]="showVerbal" > V </mat-slide-toggle>
            <mat-slide-toggle class="example-margin" (change)="toggleSomatic()" [checked]="showSomatic" > S  </mat-slide-toggle>
            <mat-slide-toggle class="example-margin" (change)="toggleMaterial()" [checked]="showMaterial" > M  </mat-slide-toggle>
        </div>
        <hr/>
        <div>
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="25%" *ngFor="let spell of filteredSpells">
                        <app-spellcard [spell]="spell"/>
                </div>
            </div>
        </div>
    </div>



</div>


<!--

Casting Time: 1 action
Range: 30 feet
Components: V, S, M (a drop of blood)
Duration: Concentration, up to 1 minute

Up to three creatures of your choice that you can see within range must make Charisma saving throws. Whenever a target that fails this saving throw makes an attack roll or a saving throw before the spell ends, the target must roll a d4 and subtract the number rolled from the attack roll or saving throw.

At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st.

-->
