

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let spell of spells">
      <mat-card  class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{spell.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="line-height: 0;">
          <!-- <div style="position: absolute; top: 0; right:0;">
            <p>{{spell.v ? "V" : ""}}{{spell.s ? "S" : ""}}{{spell.m ? "M" : ""}}</p>
          </div> -->
          <p>Casting Time: <b>{{spell.castTime}}</b></p>
          <p>Range: <b>{{spell.range}}</b></p>
          <p>Components: <b>{{spell.v ? "V" : ""}}{{spell.s ? "S" : ""}}{{spell.m ? "M" : ""}}</b></p>
          <p>Duration: <b>{{spell.duration}}</b></p>
          <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              AOE
            </mat-chip>
            <mat-chip color="primary">
              Heal
            </mat-chip>
            <mat-chip color="accent">
              Damage
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Prepare!</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


<!--

Casting Time: 1 action
Range: 30 feet
Components: V, S, M (a drop of blood)
Duration: Concentration, up to 1 minute

Up to three creatures of your choice that you can see within range must make Charisma saving throws. Whenever a target that fails this saving throw makes an attack roll or a saving throw before the spell ends, the target must roll a d4 and subtract the number rolled from the attack roll or saving throw.

At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st.

-->